<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.githup.mybatis.dao.UserMapper">
   <!--List<User> findUser()-->
    <select id="findUser" resultType="user">
        select * from smbms_user
    </select>
    <!--User findUserByUserName(String name);模糊查询-->
    <!--parameterType：入参类型-->
    <select id="findUserByUserName" resultType="user" parameterType="String">
        select * from smbms_user where userName like Concat('%',#{name},'%')
    </select>
    <!--User findUserByUserNameAndUserRole(User user);根据角色id和用户名进行查询用户-->
    <!--参数可以直接使用对象中的字段获取-->
    <select id="findUserByUserNameAndUserRole" resultType="user" parameterType="user">
        select  * from smbms_user where  userName like Concat('%',#{userName},'%') and userRole=#{userRole}
    </select>
    <!--根据map集合来查询用用户信息：User findUserByMap(Map<String, Object> map);-->
    <!--map集合参数根据键获取值-->
    <select id="findUserByMap" resultType="user" parameterType="map">
          select  * from smbms_user where  userName like Concat('%',#{userName},'%') and userRole=#{userRole}
    </select>
    <!--     User findUserByUserNameAndUserRole1(@Param("userName")String name ,@Param("userRole")int role );-->
    <!--只要使注解入参，就不用写入参类型-->
    <!--多表联查，内连接，左外连接，右外连接，子查询-->
    <select id="findUserByUserNameAndUserRole1" resultType="user">
                select *,(select roleName from smbms_role where id=#{userRole})
                   from  smbms_user
                      where userName like Concat('%',#{userName},'%') and userRole=#{userRole}
    </select>
    <resultMap id="userList" type="user">
        <!--用来提升映射性能-->
        <id property="id" column="id"></id>
        <result column="roleName" property="userRoleName"></result>
    </resultMap>
    <!--findUserByUserNameAndUserRole2-->
    <select id="findUserByUserNameAndUserRole2" resultMap="userList">
         select su.*,sr.roleName from smbms_user su,smbms_role sr
                   where sr.id=su.userRole
                       and userName like Concat('%',#{userName},'%')
                          and su.userRole=#{userRole}
    </select>
    <!--int addUser();-->
    <!--增删改不用写返回值类型-->
    <insert id="addUser">
        insert into smbms_user(userCode,userName,userPassword,gender,birthday,phone,address,userRole,createdBy,creationDate,modifyBy,modifyDate)
            values("admin","盖轶轩","1234567",1,"1999-10-10","13688889999","北京市海淀区成府路207号",1,1,now(),1,now())
    </insert>

    <!--int updateUserNameAndUserCode();根据用户名修改-->
    <update id="updateUserNameAndUserCode">
        update smbms_user set userCode=#{userCode},userName=#{userName} where id=#{id}
    </update>

    <!--int deleteUserByUserName();-->
    <!--根据姓名删除-->
    <delete id="deleteUserByUserName">
        delete from smbms_user where userName=#{userName};
    </delete>
</mapper>